<p-toast id="lv1" (onClose)="onClose($event)"></p-toast>

<p-panel *ngIf="modeChilde === 'MAIN'">
    <header class="d-flex justify-content-md-between">
        <h3 style="color: red">{{ 'newsManagement.addGeneralNewsInformation' | translate }}</h3>
        <hr style="border-top: 1px solid red" />
        <h5>{{ 'courseManagement.tabGeneral.tabDocumentsOthers.form.detailSection' | translate }}</h5>
        <p-divider type="solid"></p-divider>
    </header>
    <div class="m-4">
        <div class="p-fluid p-formgrid grid pb-4">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label><a *ngIf="!!!item.newsFormat" style="color: red;">*</a>{{ 'newsManagement.newsType' | translate }}</label>

                            <p-dropdown
                                [options]="newsFormatList"
                                [(ngModel)]="item.newsFormat"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="false"
                                [placeholder]="'newsManagement.refNewsType' | translate"
                                [class]="showError == true && !!!item.newsFormat ? 'ng-invalid ng-dirty' : ''"
                            >
                            </p-dropdown>
                            <small *ngIf="showError && !!!item.newsFormat" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label><a *ngIf="!!!item.newsHilight" style="color: red;">*</a>{{ 'newsManagement.newsHilight' | translate }}</label>
                            <p-dropdown
                                [options]="hilightNewsList"
                                [(ngModel)]="item.newsHilight"
                                [optionLabel]="'value'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="false"
                                [placeholder]="'newsManagement.newsHilight' | translate"
                                [class]="showError == true && !!!item.newsHilight ? 'ng-invalid ng-dirty' : ''"
                            >
                            </p-dropdown>
                            <small *ngIf="showError && !!!item.newsHilight" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label><a *ngIf="!!!item.newsHeading" style="color: red;">*</a>{{ 'newsManagement.newsHeadlines' | translate }}</label>
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="item.newsHeading"
                                placeholder="{{ 'newsManagement.newsHeadlines' | translate }}"
                                [class]="showError == true && !!!item.newsHeading ? 'ng-invalid ng-dirty' : ''"
                            />
                            <small *ngIf="showError && !!!item.newsHeading" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid pb-4">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">

                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label><a *ngIf="!!!item.newsDetail" style="color: red;">*</a>{{ 'newsManagement.newsDetail' | translate }}:</label>
                        </div>

                        <div class="flex justify-content-left">
                            <p-editor
                                [(ngModel)]="item.newsDetail"
                                [style]="{ height: '40rem', width: '60rem' }"
                                [class]="showError == true && !!!item.newsDetail ? 'ng-invalid ng-dirty' : ''"
                            >
                                <ng-template pTemplate="header">
                                    <span class="ql-formats">
                                        <select class="ql-size">
                                            <option value="small"></option>
                                            <option selected></option>
                                            <option value="large"></option>
                                            <option value="huge"></option>
                                        </select>
                                    </span>
                                    <span class="ql-formats">
                                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                                    </span>
                                    <span class="ql-formats">
                                        <button class="ql-list" value="ordered"></button>
                                        <button class="ql-list" value="bullet"></button>
                                        <select class="ql-align">
                                            <option selected></option>
                                            <option value="center"></option>
                                            <option value="right"></option>
                                            <option value="justify"></option>
                                        </select>
                                    </span>
                                </ng-template>
                            </p-editor>
                        </div>
                        <small *ngIf="showError && !!!item.newsDetail" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <div class="flex align-items-center mb-2">
                                <label><a *ngIf="!!!item.filename" style="color: red;">*</a>{{ 'newsManagement.cover' | translate }}</label>
                                &nbsp;&nbsp;
                                <label
                                    *ngIf="item.filename && !showUpload"
                                    class="pi pi-trash cursor-pointer flex justify-content-center"
                                    (click)="onEditImage()"
                                ></label>
                                &nbsp;&nbsp;


                                <p-fileUpload
                                    #fileUpload
                                    *ngIf="showUpload"
                                    (uploadHandler)="onAdvancedUpload($event)"
                                    (onRemove)="onRemoveUpload($event, fileUpload)"
                                    mode="basic"
                                    [chooseLabel]="'common.button.uploadImg' | translate"
                                    name="file"
                                    accept="image/*"
                                    [auto]="true"
                                    [maxFileSize]="5242880"
                                    [multiple]="false"
                                    [customUpload]="true"
                                    [fileLimit]="1"

                                >
                                </p-fileUpload>
                            </div>
                            <small *ngIf="!!!showError">{{ 'common.button.validateImg670x420' | translate }}</small>
                            <small *ngIf="showError && !!!item.filename" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12" [style]="">
                            <p-image
                                width="670" height="420"
                                *ngIf="item.filename && !showUpload"
                                [src]="imgSrc"
                                alt="coverNews"
                                [style]="imageStyle"
                                (load)="onCheckImageSize($event)"
                            />
                            <p-image
                                width="670" height="420"
                                *ngIf="showUpload"
                                [src]="imgSrcRef"
                                alt="coverNews"
                                [style]="imageStyle"
                                (load)="onCheckImageSize($event)"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label>{{ 'newsManagement.newsRange' | translate }}</label>
                        </div>
                        <p-divider type="solid"></p-divider>
                        <div class="col-12 lg:col-12 md:col-12 sm:col-12">
                            <div class="formgrid grid">
                                <div class="p-fluid formgrid grid col-12">
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <label><a *ngIf="!!!item.newsStart" style="color: red;">*</a>{{ 'newsManagement.publicRelationStartDate' | translate }}</label>
                                    </div>
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <label><a *ngIf="!!!item.newsEnd" style="color: red;">*</a>{{ 'newsManagement.publicRelationEndDate' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="formgrid grid">
                                <div class="p-fluid formgrid grid col-12">
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <p-calendar
                                            [showIcon]="true"
                                            inputId="newsStart"
                                            [(ngModel)]="item.newsStart"
                                            [placeholder]="'common.pleaseSelect' | translate"
                                            [hideOnDateTimeSelect]="true"
                                            appThaiCalendar
                                            [lang]="lang"
                                            [clickYear]="clickNewsStart"
                                            (onYearChange)="clickNewsStart = true"
                                            (onSelect)="clickNewsStart = false"
                                            [class]="
                                                showError == true && !!!item.newsStart ? 'ng-invalid ng-dirty' : ''
                                            "
                                        ></p-calendar>
                                    </div>
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <p-calendar
                                            [showIcon]="true"
                                            inputId="newsEnd"
                                            [(ngModel)]="item.newsEnd"
                                            [placeholder]="'common.pleaseSelect' | translate"
                                            [hideOnDateTimeSelect]="true"
                                            appThaiCalendar
                                            [lang]="lang"
                                            [clickYear]="clickNewsEnd"
                                            (onYearChange)="clickNewsEnd = true"
                                            (onSelect)="clickNewsEnd = false"
                                            [class]="showError == true && !!!item.newsEnd ? 'ng-invalid ng-dirty' : ''"
                                        ></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small
                            *ngIf="showError && !!!item.newsStart && !!!item.newsEnd"
                            class="p-error"
                            id="text-error"
                        >
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label>{{ 'newsManagement.newNews' | translate }}</label>
                        </div>
                        <p-divider type="solid"></p-divider>
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12 flex align-items-center">
                            <p-inputSwitch [(ngModel)]="item.newFlag"></p-inputSwitch>
                            <label class="pl-3">{{ 'newsManagement.newNews' | translate }}</label>
                        </div>
                        <div class="col-12 lg:col-12 md:col-12 sm:col-12" *ngIf="item.newFlag">
                            <div class="formgrid grid ml-1">
                                <div class="p-fluid formgrid grid col-12">
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <label>{{ 'newsManagement.newNewsStartDate' | translate }}</label>
                                    </div>
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <label>{{ 'newsManagement.newNewsEndDate' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="formgrid grid ml-1">
                                <div class="p-fluid formgrid grid col-12">
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <p-calendar
                                            inputId="newsStart"
                                            [(ngModel)]="item.newIconStart"
                                            [showIcon]="true"
                                            appThaiCalendar
                                            [lang]="translate.currentLang"
                                            [class]="
                                                showError == true && !!!item.newIconStart ? 'ng-invalid ng-dirty' : ''
                                            "
                                        ></p-calendar>
                                    </div>
                                    <div class="col-12 lg:col-6 md:col-8 sm:col-12">
                                        <p-calendar
                                            inputId="newsEnd"
                                            [(ngModel)]="item.newIconEnd"
                                            [showIcon]="true"
                                            appThaiCalendar
                                            [lang]="translate.currentLang"
                                            [class]="
                                                showError == true && !!!item.newIconEnd ? 'ng-invalid ng-dirty' : ''
                                            "
                                        ></p-calendar>
                                    </div>
                                </div>
                                <small
                                    *ngIf="showError && !!!item.newIconStart && !!!item.newIconEnd"
                                    class="p-error"
                                    id="text-error"
                                >
                                    {{ 'common.pleaseEnter' | translate }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12">
                            <label>{{ 'newsManagement.status' | translate }}</label>
                        </div>
                        <p-divider type="solid"></p-divider>
                        <div class="col-12 lg:col-4 md:col-8 sm:col-12 flex align-items-center">
                            <p-inputSwitch [(ngModel)]="item.newsStatus"></p-inputSwitch>
                            <label class="pl-3">{{ 'newsManagement.active' | translate }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col">
                        <div class="col-12 flex justify-content-between">
                            <div>
                                <label>{{ 'newsManagement.document' | translate }}</label>
                            </div>
                            <div>
                                <p-button
                                    [label]="'newsManagement.uploadFile' | translate"
                                    icon="pi pi-upload"
                                    styleClass="p-button-primary p-button-sm"
                                    size="small"
                                    (click)="openPage('CREATE_CHILDE')"
                                >
                                </p-button>
                            </div>
                        </div>
                        <p-divider type="solid"></p-divider>
                        <div class="col-12">
                            <p-confirmDialog
                                header="{{ 'newsManagement.comfirmDeleteHeader' | translate }}"
                                key="confirm1"
                                icon="pi pi-exclamation-triangle"
                                message="{{ 'newsManagement.comfirmDelete' | translate }}"
                                [style]="{ width: '350px' }"
                            ></p-confirmDialog>
                            <p-table
                                [value]="items"
                                [totalRecords]="totalRecords"
                                [paginator]="true"
                                [rowHover]="true"
                                [lazy]="true"
                                [rows]="5"
                                [rowsPerPageOptions]="[5, 10, 20]"
                                styleClass="p-datatable-striped"
                                (onPage)="fetchTable($event)"
                                [tableStyle]="{ 'min-width': '50rem' }"
                                [showCurrentPageReport]="true"
                                [currentPageReportTemplate]="!!!items.newsAttachId ? '' :'common.table.pageMessage' | translate"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th scope="col" class="text-center" style="width: 5%">
                                            {{ 'common.table.column.no' | translate }}
                                        </th>
                                        <th scope="col" style="width: 10%">
                                            {{ 'newsManagement.fileName' | translate }}
                                        </th>
                                        <th scope="col" class="text-center" style="width: 10%">
                                            {{ 'Link' | translate }}
                                        </th>
                                        <th scope="col" class="text-center" style="width: 5%" *ngIf="mode === 'EDIT'">
                                            {{ 'newsManagement.manage' | translate }}
                                        </th>
                                        <!-- <th scope="col" class="text-center" style="width: 5%" *ngIf="mode === 'CREATE'">
                                            {{ 'newsManagement.manage' | translate }}
                                        </th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-item>
                                    <tr>
                                        <td class="text-center">{{ item.rowNum }}</td>
                                        <td>{{ lang === 'th' ? item.fileNameTh : item.fileNameEn }}</td>
                                        <td class="text-center">
                                            <span
                                                *ngIf="item.filename"
                                                class="pi pi-file-pdf text-primary cursor-pointer"
                                                (click)="previewFile(item)"
                                            ></span>
                                        </td>
                                        <td class="text-center"  *ngIf="mode === 'EDIT'">
                                            <span
                                                class="pi pi-trash cursor-pointer"
                                                (click)="deleteNewsInfoAttach($event, item)"
                                            ></span>
                                        </td>
                                        <!-- <td class="text-center"  *ngIf="mode === 'CREATE'">
                                            <span
                                                class="pi pi-trash cursor-pointer"
                                                (click)="deleteNewsInfoAttach($event, item)"
                                            ></span>
                                        </td> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td class="text-center" colspan="7">{{ 'common.dataNotFound' | translate }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-content-center gap-2 mt-4">
        <div class="">
            <p-button
                [label]="'common.button.save' | translate"
                icon="pi pi-save"
                styleClass="p-button-primary p-button-sm"
                size="small"
                (click)="onSave()"
            >
            </p-button>
        </div>
        <div class="">
            <p-button
                [label]="'common.button.cancel' | translate"
                icon="pi pi-times-circle"
                styleClass="p-button-secondary p-button-sm"
                size="small"
                (click)="onBack()"
            >
            </p-button>
        </div>
    </div>
</p-panel>
<div *ngIf="modeChilde === 'CREATE_CHILDE' || modeChilde === 'EDIT_CHILDE'">
    <app-news-management-documents-manage
        [modeChilde]="modeChilde"
        (callback)="callBack($event)"
        [item]="editData"
        (backToMain)="callbackChilde($event)"
    ></app-news-management-documents-manage>
</div>
