<p-toast (onClose)="onClose($event)"></p-toast>
<p-panel>
    <ng-template pTemplate="header">
        <p-breadcrumb
            class="max-w-full w-full"
            [model]="[information, campaign,
            {
                label:
                    ((mode === 'CREATE' ? 'common.mode.add' : 'common.mode.edit') | translate) +
                    ('menu.master.news.campaign' | translate)
            }]"
            [home]="{ icon: 'pi pi-home', routerLink: '/' }"
        ></p-breadcrumb>
    </ng-template>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
                <h3 style="color: red">
                    {{ ((mode === 'CREATE' ? 'common.mode.add' : 'common.mode.edit') | translate) +
                        ('menu.master.news.campaign' | translate) }}
                </h3>
            <hr style="border-top: 1px solid red" />
            <h5>{{ 'master.occupantion.form.detailSection' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
    </div>

    <div class="m-4">
        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12">
                        <label>{{ 'master.campaign.table.column.campaignId' | translate }}</label>
                        <input
                            pInputText
                            id=""
                            [(ngModel)]="xxString"
                            type="text"
                            placeholder="{{ 'master.campaign.table.column.campaignId' | translate }}"
                            [class]="showError == true && !!!xxString ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!xxString" class="p-error" id="text-error">
                            กรุณากรอกข้อมูลให้ถูกต้อง
                        </small>
                    </div>
                    <div class="col-12 md:col-12">
                        <label>{{ 'master.campaign.table.column.campaignNane' | translate }}</label>
                        <input
                            pInputText
                            id=""
                            placeholder="{{ 'master.campaign.table.column.campaignNane' | translate }}"
                            [(ngModel)]="xxString"
                            type="text"
                            [class]="showError == true && !!!xxString ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!xxString" class="p-error" id="text-error">
                            กรุณากรอกข้อมูลให้ถูกต้อง
                        </small>
                    </div>

                    <div class="col-12 md:col-12 flex">
                        <div class="col-6 p-0 pr-2">
                            <label>{{ 'master.campaign.table.column.startDateDisplay' | translate }}</label>
                            <p-calendar
                                [(ngModel)]="xxDate"
                                inputId="approveDate"
                                [showIcon]="true"
                                appThaiCalendar
                                placeholder=""
                                [lang]="translate.currentLang"
                                [class]="showError == true && !!!xxDate ? 'ng-invalid ng-dirty' : ''"
                            ></p-calendar>
                            <small *ngIf="showError && !!!xxDate" class="p-error" id="text-error">
                                กรุณากรอกข้อมูลให้ถูกต้อง
                            </small>
                        </div>

                        <div class="col-6 p-0 pl-2">
                            <label>{{ 'master.campaign.table.column.endDateDisplayed' | translate }}</label>
                            <p-calendar
                                [(ngModel)]="xxDate"
                                inputId="approveDate"
                                [showIcon]="true"
                                appThaiCalendar
                                [lang]="translate.currentLang"
                                placeholder=""
                                [class]="showError == true && !!!item.occupationGroupCode ? 'ng-invalid ng-dirty' : ''"
                            ></p-calendar>
                            <small *ngIf="showError && !!!item.occupationGroupCode" class="p-error" id="text-error">
                                กรุณากรอกข้อมูลให้ถูกต้อง
                            </small>
                        </div>
                    </div>

                    <div class="col-12 md:col-12">
                        <label>{{ 'master.campaign.table.column.nomCoupon' | translate }}</label>
                        <input
                            pInputText
                            id=""
                            [(ngModel)]="xxNumber"
                            placeholder="0"
                            type="text"
                            [class]="showError == true && !!!xxNumber ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!xxNumber" class="p-error" id="text-error">
                            กรุณากรอกข้อมูลให้ถูกต้อง
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h5>{{ 'master.campaign.form.discount.name' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
    </div>

    <div class="m-4">
        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class=""></div>

                    <div class="col-12 md:col-12">
                        <label>{{ 'master.campaign.form.discount.name' | translate }} : </label>
                        <div class="flex align-items-center gap-2 ml-4 formgrid grid">
                            <div class="flex align-items-center gap-2 w-20rem p-0">
                                <div class="flex">
                                    <p-radioButton
                                        name="discountCampaign"
                                        value="percent"
                                        [(ngModel)]="xxNumberDiscount"
                                    ></p-radioButton>
                                </div>
                                <div class="flex">
                                    <p-inputNumber [(ngModel)]="xxNumber" [minFractionDigits]="2"></p-inputNumber>
                                </div>
                                <span class="flex">%</span>
                            </div>

                            <div class="flex align-items-center gap-2 lg:col-3 md:col-12 sm:col-12 p-0">
                                <div class="flex">
                                    <p-inputSwitch [(ngModel)]="xxNumber"></p-inputSwitch>
                                </div>
                                <div class="flex-wrap">
                                    {{ 'master.campaign.form.discount.maxDiscount' | translate }}
                                </div>
                                <div class="flex">
                                    <p-inputNumber [(ngModel)]="xxNumber" [minFractionDigits]="2"></p-inputNumber>
                                </div>
                                <span class="flex">บาท</span>
                            </div>
                        </div>

                        <div class="flex align-items-center gap-2 ml-4 mt-3 formgrid grid">
                            <div class="flex align-items-center gap-2">
                                <div class="flex">
                                    <p-radioButton
                                        name="discountCampaign"
                                        value="baht"
                                        [(ngModel)]="xxNumberDiscount"
                                    ></p-radioButton>
                                </div>
                                <div class="flex">
                                    <p-inputNumber [(ngModel)]="xxNumber" [minFractionDigits]="2"></p-inputNumber>
                                </div>
                                <span class="flex">บาท</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h5>{{ 'Access' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
        <div class="col-12 flex gap-2">
            <p-inputSwitch [(ngModel)]="item.activeFlag"> </p-inputSwitch>
            <label class="ml-2">{{
                item.activeFlag ? ('common.status.active' | translate) : ('common.status.inActive' | translate)
            }}</label>
        </div>
    </div>

    <div class="p-fluid m-4">
        <header class="align-items-end flex justify-content-between">
            <h5 class="mb-0">{{ 'master.campaign.form.courseEnteringCampaign.name' | translate }}</h5>
            <div class="flex gap-2">
                <p-button
                    [label]="'master.campaign.form.courseEnteringCampaign.subForm.name' | translate"
                    icon="pi pi-plus-circle"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                >
                </p-button>
            </div>
        </header>
        <p-divider type="solid"></p-divider>
        <div class="col-12 flex gap-2">
            <p-inputSwitch [(ngModel)]="item.activeFlag"> </p-inputSwitch>
            <label class="ml-2">{{ 'master.campaign.form.courseEnteringCampaign.courseAllOpen' | translate }}</label>
        </div>
        <p-table 
            styleClass="p-datatable-striped" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]=" 'common.table.pageMessage' | translate"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" style="width: 5%">{{ 'common.table.column.no' | translate }}</th>
                    <th style="width: 50%">
                        {{ 'master.campaign.form.courseEnteringCampaign.column.coures' | translate }}
                    </th>
                    <th class="text-center" style="width: 20%">{{ 'common.table.column.manage' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center">{{ item.rowNum }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <span *ngIf="item.activeFlag" class="text-green-700 pi pi-check"></span>
                        <span *ngIf="!item.activeFlag" class="text-red-700 pi pi-times"></span>
                    </td>
                    <td class="text-center">
                        <span
                            (click)="openPage('EDIT', item.generalSkillId)"
                            class="pi pi-pencil cursor-pointer"
                        ></span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="10">{{ 'common.dataNotFound' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="p-fluid m-4">
        <header class="align-items-end flex justify-content-between">
            <h5 class="mb-0">{{ 'master.campaign.form.documentCampaign.name' | translate }}</h5>
            <div class="flex gap-2">
                <p-button
                    [label]="'master.campaign.form.documentCampaign.name' | translate"
                    icon="pi pi-upload"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                >
                </p-button>
            </div>
        </header>
        <p-divider type="solid"></p-divider>

        <p-table 
            styleClass="p-datatable-striped" 
            [tableStyle]="{ 'min-width': '50rem' }"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]=" 'common.table.pageMessage' | translate"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center" style="width: 5%">{{ 'common.table.column.no' | translate }}</th>
                    <th style="width: 50%">
                        {{ 'master.campaign.form.documentCampaign.subForm.fileName' | translate }}
                    </th>
                    <th class="text-center" style="width: 20%">{{ 'common.table.column.manage' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center">{{ item.rowNum }}</td>
                    <td>{{ item.generalSkillCode }}</td>
                    <td>{{ item.generalSkillNameTh }}</td>
                    <td>{{ item.generalSkillNameEn }}</td>
                    <td class="text-center">
                        <span *ngIf="item.activeFlag" class="text-green-700 pi pi-check"></span>
                        <span *ngIf="!item.activeFlag" class="text-red-700 pi pi-times"></span>
                    </td>
                    <td class="text-center">
                        <span
                            (click)="openPage('EDIT', item.generalSkillId)"
                            class="pi pi-pencil cursor-pointer"
                        ></span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="10">{{ 'common.dataNotFound' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="d-flex justify-content-md-between">
        <div class="col-12">
            <div class="flex justify-content-center align-items-center flex-wrap gap-2">
                <div class="flex align-items-center justify-content-center">
                    <p-button
                        [label]="'common.button.save' | translate"
                        icon="pi pi-save"
                        styleClass="p-button-primary p-button-sm"
                        size="small"
                        [disabled]="processing"
                        (onClick)="onSave()"
                    ></p-button>
                </div>
                <div class="flex align-items-center justify-content-center">
                    <p-button
                        [label]="'common.button.cancel' | translate"
                        icon="pi pi-times-circle"
                        styleClass="p-button-secondary p-button-sm"
                        size="small"
                        (onClick)="onBack()"
                    ></p-button>
                </div>
            </div>
        </div>
    </div>
</p-panel>
