<div class="card p-fluid m-0 mb-4" *ngIf="coursepublicMain">
    <div class="p-fluid m-0 mb-4">
        <h2>
            {{ coursepublicMain.courseCode }}&nbsp;-&nbsp;{{
                lang === 'th' ? coursepublicMain.publicNameTh : coursepublicMain.publicNameEn
            }}
        </h2>
    </div>
    <header class=" ">
        <h5 class="text-primary">{{ 'courseManagement.roundApproval.illustration.name' | translate }}</h5>
        <p-divider type="solid"></p-divider>
    </header>
    <div class="m-3">
        <p-table
            [value]="items"
            [totalRecords]="totalRecords"
            [paginator]="true"
            [rowHover]="true"
            [lazy]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [paginator]="true"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
            (onPage)="fetchData($event)"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]=" 'common.table.pageMessage' | translate"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" class="text-center" style="width: 5%">
                        {{ 'common.table.column.no' | translate }}
                    </th>
                    <th scope="col" style="width: 40">
                        {{ 'courseManagement.roundApproval.illustration.table.imgNameTh' | translate }}
                    </th>
                    <th scope="col" style="width: 40%">
                        {{ 'courseManagement.roundApproval.illustration.table.imgNameEn' | translate }}
                    </th>
                    <!-- <th scope="col" style="width: 20%">
                        {{ 'courseManagement.roundApproval.illustration.table.link' | translate }}
                    </th> -->
                    <th scope="col" style="width: 15%">
                        {{ 'courseManagement.roundApproval.illustration.table.illustration' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center">{{ item.rowNum }}</td>
                    <td>{{ item.mediaNameTh }}</td>
                    <td>{{ item.mediaNameEn }}</td>
                    <!-- <td>{{ item.filename }}</td> -->
                    <!-- <td>{{item.filename}}</td> -->
                    <td>
                        <span
                            *ngIf="item.filename"
                            class="pi pi-image text-primary cursor-pointer"
                            (click)="previewImage(item)"
                        ></span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center">{{ 'common.dataNotFound' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
