<p-panel>
    <div class="p-fluid mt-4">
        <header class="d-flex justify-content-md-between">
            <div class="grid">
                <div class="col-9">
                    <h3 style="color: var(--font-color-header)">{{ 'teacherPortal.addgradeandpoint' | translate }}</h3>
                </div>
            </div>
        </header>
        <hr style="border-top: 1px solid var(--font-color-header)" />
    </div>
    <div class="p-fluid mt-4">
        <h3 style="color: gray" *ngIf="courseInfoData.courseCode!=undefined">{{courseInfoData.courseCode + '-' + (lang === 'th' ? courseInfoData.publicNameTh : courseInfoData.publicNameEn)}}</h3>
        <h3 style="color: gray" *ngIf="courseInfoData.courseCode==undefined">{{courseDetail}}</h3>
    </div>
    <div class="p-fluid mt-4">
        <header class="d-flex justify-content-md-between">
            <div class="grid">
                <div class="col-9">
                    <h3 style="color: black">{{ 'teacherPortal.grade' | translate }}</h3>
                </div>
            </div>
        </header>
        <hr style="border-top: 1px solid;color: black" />
    </div>
    <div class="formgrid grid ml-1">
        <div class="p-fluid col-12">
            <label><a style="color: red">*</a>{{ 'teacherPortal.grade' | translate }}</label>
            <p-dropdown [options]="gradeList" [(ngModel)]="gradeSelected.gradeSymbol" [optionLabel]="'gradeSymbol'"
                optionValue="gradeSymbol" [showClear]="true" [filter]="false" 
                [placeholder]="'teacherPortal.pleaseselect' | translate"></p-dropdown>
        </div>
    </div>
    <div class="formgrid grid ml-1">
        <div class="p-fluid formgrid grid col-12">
            <div class="p-fluid col-6">
                <label><a style="color: red">*</a>{{'teacherPortal.frompoint'|translate}}</label>
            </div>
            <div class="p-fluid col-6">
                <label><a style="color: red">*</a>{{'teacherPortal.topoint'|translate}}</label>
            </div>
        </div>
        
    </div>
    <div class="p-fluid formgrid grid col-12">
        <div class="p-fluid col-6">
            <input pInputText type="number" [(ngModel)]="gradeSelected.scoreMin" placeholder="" class="w-full sm:w-auto" />
        </div>
        <div class="p-fluid col-6">
            <input pInputText type="number" [(ngModel)]="gradeSelected.scoreMax" placeholder="" class="w-full sm:w-auto" />
        </div>
    </div>
    <div class="flex justify-content-center gap-2 mt-4">
        <div class="">
            <p-button [label]="'common.button.save' | translate" icon="pi pi-save"
                styleClass="p-button-primary p-button-sm" size="small" (click)="onSave()">
            </p-button>
        </div>
        <div class="">
            <p-button [label]="'common.button.cancel' | translate" icon="pi pi-times-circle"
                styleClass="p-button-secondary p-button-sm" size="small" (click)="onBack()">
            </p-button>
        </div>
    </div>
</p-panel>


    

