<p-toast (onClose)="onClose($event)"></p-toast>
<p-panel>
    <ng-template pTemplate="header">
        <p-breadcrumb
            class="max-w-full w-full"
            [model]="[ information, sharepercent,
            {
                label:
                    ((mode === 'CREATE' ? 'common.mode.add' : 'common.mode.edit') | translate) +
                    ('master.registrationFeeSharing.name' | translate)
            }]"
            [home]="{ icon: 'pi pi-home', routerLink: '/' }"
        ></p-breadcrumb>
    </ng-template>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h3 style="color: red">{{ ((mode === 'CREATE' ? 'common.mode.add' : 'common.mode.edit') | translate) +
                ('master.registrationFeeSharing.name' | translate) }}</h3>
            <hr style="border-top: 1px solid red" />
            <h5>{{ 'master.registrationFeeSharing.form.detailSection' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
    </div>

    <div class="m-4">
        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="p-fluid formgrid grid col-12">
                        <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                            <label>{{ 'master.registrationFeeSharing.form.facultyRate' | translate }}</label>
                            <span class="p-input-icon-right">
                                <i class="pi pi-percentage"></i>
                                <input pInputText
                                [(ngModel)]="item.costShareDepPercent"
                                type="number"
                                [min]="0" />
                            </span>
                        </div>
                        <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                            <label>{{ 'master.registrationFeeSharing.form.universityRate' | translate }}</label>
                            <span class="p-input-icon-right">
                                <i class="pi pi-percentage"></i>
                                <input
                                    pInputText
                                    [(ngModel)]="item.costShareGlobalPercent"
                                    type="number"
                                    [min]="0"
                                />
                            </span>
                        </div>
                        <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                            <label>{{ 'master.registrationFeeSharing.form.centerofacademicserviceShareRate' | translate }}</label>
                            <span class="p-input-icon-right">
                                <i class="pi pi-percentage"></i>
                                <input
                                    pInputText
                                    [(ngModel)]="item.costShareCenterPercent"
                                    type="number"
                                    [min]="0"
                                />
                            </span>
                        </div>
                    </div>
                </div>
                <!-- <header>
                    <div class="flex justify-content-between">
                        <div>
                            <h5>{{ 'master.registrationFeeSharing.form.docsTable.name' | translate }}</h5>
                        </div>
                        <p-button
                            [label]="'master.registrationFeeSharing.form.docsTable.name' | translate"
                            icon="pi pi-upload"
                            styleClass="p-button-success p-button-sm"
                            size="small"
                            (click)="uploadFile()"
                        >
                        </p-button>
                    </div>
                    <p-divider type="solid"></p-divider>
                </header>
                <p-table
                    [value]="itemAttachResult"
                    [totalRecords]="totalRecords"
                    [paginator]="true"
                    [rowHover]="true"
                    [lazy]="true"
                    [rows]="5"
                    [rowsPerPageOptions]="[5, 10, 20]"
                    styleClass="p-datatable-striped"
                    [tableStyle]="{ 'min-width': '50rem' }"
                    [showCurrentPageReport]="true"
                    [currentPageReportTemplate]=" 'common.table.pageMessage' | translate"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center" style="width: 5%">{{ 'common.table.column.no' | translate }}</th>
                            <th style="width: 15%">
                                {{ 'master.registrationFeeSharing.form.docsTable.column.fileName' | translate }}
                            </th>
                            <th style="width: 30%">
                                {{ 'master.registrationFeeSharing.form.docsTable.column.link' | translate }}
                            </th>
                            <th class="text-center" style="width: 15%">
                                {{ 'common.table.column.manage' | translate }}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td class="text-center">{{ item.rowNum }}</td>
                            <td>{{ item.fileName }}</td>
                            <td>{{ item.file_link }}</td>
                            <td class="text-center">
                                <span (click)="deleteRow()" class="pi pi-trash cursor-pointer"></span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td class="text-center" colspan="6">{{ 'common.dataNotFound' | translate }}</td>
                        </tr>
                    </ng-template>
                </p-table> -->
                <div class="flex justify-content-center gap-2 mt-4">
                    <div>
                        <p-button
                            [label]="'common.button.save' | translate"
                            icon="pi pi-save"
                            styleClass="p-button-primary p-button-sm"
                            size="small"
                            [disabled]="processing"
                            (click)="onSave()"
                        >
                        </p-button>
                    </div>
                    <div>
                        <p-button
                            [label]="'common.button.cancel' | translate"
                            icon="pi pi-times"
                            styleClass="p-button-secondary p-button-sm"
                            size="small"
                            (click)="onBack()"
                        >
                        </p-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>

<p-panel>
    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h3>{{ 'master.registrationFeeSharing.form.updateHistoryTable.name' | translate }}</h3>
            <p-divider type="solid"></p-divider>
        </header>
    </div>
    <p-table
        [value]="itemHistoryResult"
        [totalRecords]="totalRecords"
        [paginator]="true"
        [rowHover]="true"
        [lazy]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        styleClass="p-datatable-striped"
        [tableStyle]="{ 'min-width': '50rem' }"
        (onPage)="getHistoryData($event)"
        [showCurrentPageReport]="true"
        [currentPageReportTemplate]=" 'common.table.pageMessage' | translate"
    >
        <ng-template pTemplate="header">
            <tr>
                <th scope="col" class="text-center" style="width: 5%">{{ 'common.table.column.no' | translate }}</th>
                <th scope="col" style="width: 10%" class="text-center">
                    {{ 'master.registrationFeeSharing.form.updateHistoryTable.column.createDate' | translate }}
                </th>
                <th scope="col" style="width: 23%" class="text-center">
                    {{ 'master.registrationFeeSharing.form.updateHistoryTable.column.facultyRate' | translate }}
                </th>
                <th scope="col" style="width: 23% " class="text-center">
                    {{ 'master.registrationFeeSharing.form.updateHistoryTable.column.universityRate' | translate }}
                </th>
                <th scope="col" style="width: 23%" class="text-center">
                    {{ 'master.registrationFeeSharing.form.updateHistoryTable.column.centerofacademicserviceShareRate' | translate }}
                </th>
                <th scope="col" style="width: 15%">
                    {{ 'master.registrationFeeSharing.form.updateHistoryTable.column.createBy' | translate }}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="text-center">{{ item.rowNum }}</td>
                <td class="text-center">{{ item.createDate | formatdate : lang }}</td>
                <td class="text-center">{{ item.costShareDepPercent }} {{ item.costShareDepPercent>0 ? '%':''}}</td>
                <td class="text-center">{{ item.costShareGlobalPercent }} {{ item.costShareGlobalPercent>0 ? '%':''}}</td>
                <td class="text-center">{{ item.costShareCenterPercent }} {{ item.costShareCenterPercent>0 ? '%':''}}</td>
                <td>{{ lang === 'th' ? item.fullNameTh : item.fullNameEn }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" colspan="6">{{ 'common.dataNotFound' | translate }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>
