<ngx-ui-loader></ngx-ui-loader>
<p-panel *ngIf="mode === 'LIST' && initForm">
    <ng-template pTemplate="header">
        <p-breadcrumb
            class="max-w-full w-full"
            [model]="[{ label: 'common.module.master' | translate, routerLink: '/master/share-percent' }, { label: 'master.registrationFeeSharing.name' | translate, routerLink: '/master/share-percent' }]"
            [home]="{ icon: 'pi pi-home', routerLink: '/' }"
        ></p-breadcrumb>
    </ng-template>

    <div class="p-fluid mt-4">
        <header class="d-flex justify-content-md-between">
            <h3 style="color: var(--font-color-header)">{{ 'master.registrationFeeSharing.name' | translate }}</h3>
            <hr style="border-top: 1px solid var(--font-color-header)" />
        </header>
    </div>

    <div class="mt-4">
        <p-accordion [activeIndex]="0">
            <p-accordionTab [header]="'common.searchData' | translate">
                <div class="container">
                    <div class="formgrid grid ml-1">
                        <div class="p-fluid formgrid grid col-12">
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label>{{ 'master.registrationFeeSharing.criteria.forFaculty' | translate }}</label>
                                <p-dropdown
                                    [options]="departmentLookupList"
                                    [(ngModel)]="criteria.depId"
                                    [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                    optionValue="value"
                                    [showClear]="true"
                                    [filter]="true"
                                    (onFilter)="lazyLoadDep($event)"
                                    [placeholder]="'common.pleaseSelect' | translate"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="flex justify-content-center gap-2 mt-4">
                        <div>
                            <p-button
                                [label]="'common.button.search' | translate"
                                icon="pi pi-search"
                                styleClass="p-button-primary p-button-sm"
                                size="small"
                                (click)="onSearch()"
                            >
                            </p-button>
                        </div>
                        <div>
                            <p-button
                                [label]="'common.button.clear' | translate"
                                icon="pi pi-refresh"
                                styleClass="p-button-secondary p-button-sm"
                                size="small"
                                (click)="onClear()"
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="flex-wrap m-4">
        <div class="flex justify-content-between">
            <div class="align-items-center">
                <h5 class="mt-2 mb-0">{{ 'master.registrationFeeSharing.table.name' | translate }}</h5>
            </div>
            <!-- <p-button
                [label]="'common.button.export' | translate"
                icon="pi pi-download"
                styleClass="p-button-success p-button-sm p-button-outlined"
                size="small"
            >
            </p-button> -->
        </div>
        <hr />
        <p-table
            [(rows)]="rows"
            [value]="items"
            [totalRecords]="totalRecords"
            [paginator]="true"
            [rowHover]="true"
            [lazy]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [paginator]="true"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
            (onPage)="onSearch($event)"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]="'common.table.pageMessage' | translate"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" class="text-center" style="width: 5%">
                        {{ 'common.table.column.no' | translate }}
                    </th>
                    <th scope="col" style="width: 20%">
                        {{ 'master.registrationFeeSharing.table.column.forFaculty' | translate }}
                    </th>
                    <th scope="col" style="width: 15%" class="text-center">
                        {{ 'master.registrationFeeSharing.table.column.facultyRate' | translate }}
                    </th>
                    <th scope="col" style="width: 15%" class="text-center">
                        {{ 'master.registrationFeeSharing.table.column.universityRate' | translate }}
                    </th>
                    <th scope="col" style="width: 15%" class="text-center">
                        {{ 'master.registrationFeeSharing.table.column.centerofacademicserviceShareRate' | translate }}
                    </th>
                    <th scope="col" style="width: 10%" class="text-center">
                        {{ 'master.registrationFeeSharing.table.column.lastUpdate' | translate }}
                    </th>
                    <th permission menuCode="SDB-MS12002" scope="col" style="width: 10%" class="text-center">
                        {{ 'common.table.column.manage' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center">{{ item.rowNum }}</td>
                    <td>{{ lang === 'th' ? item.depNameTh : item.depNameEn }}</td>
                    <td class="text-center">
                        {{ item.costShareDepPercent }} {{ item.costShareDepPercent > 0 ? '%' : '' }}
                    </td>
                    <td class="text-center">
                        {{ item.costShareGlobalPercent }} {{ item.costShareGlobalPercent > 0 ? '%' : '' }}
                    </td>
                    <td class="text-center">
                        {{ item.costShareCenterPercent }} {{ item.costShareCenterPercent > 0 ? '%' : '' }}
                    </td>
                    <td class="text-center">{{ item.updateDate | formatdate : lang }}</td>
                    <td class="text-center">
                        <span
                            permission
                            menuCode="SDB-MS12002"
                            (click)="openPage('CREATE', item)"
                            class="pi pi-pencil cursor-pointer"
                        ></span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="6">{{ 'common.dataNotFound' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        <br /><br />
    </div>
</p-panel>
<div *ngIf="mode === 'CREATE'">
    <app-share-percent-manage
        [mode]="mode"
        (backToListPage)="openPage($event)"
        [item]="selectItem"
    ></app-share-percent-manage>
</div>
