<p-toast (onClose)="onClose($event)"></p-toast>

<div class="card">
    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h3 style="color: red">{{ 'courseManagement.tabRoundGeneral.tabInstructor.table.name' | translate }}</h3>
            <hr style="border-top: 1px solid red" />
            <h5>{{ 'courseManagement.tabGeneral.tabTeachingProfessor.form.detailSection' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
    </div>

    <div class="m-4">
        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">

                    <div *ngIf="item.instructorType != true" class="col-12 md:col-12 flex align-items-center gap-2">
                        <p-inputSwitch [(ngModel)]="item.instructorMain" (onChange)="changeInstructorMain($event)">
                        </p-inputSwitch>
                        <label class="font-bold">{{
                            'courseManagement.tabRoundGeneral.tabInstructor.table.instructorMain' | translate
                        }}</label>
                    </div>
                    <!-- <div *ngIf="item.instructorType === true" class="col-12 md:col-12 flex align-items-center gap-2">
                        <p-inputSwitch [(ngModel)]="item.instructorMain" [disabled]="true"> </p-inputSwitch>
                        <label>{{ 'courseManagement.tabRoundGeneral.tabInstructor.table.instructorMain' | translate }}</label>
                    </div> -->

                    <div class="col-12 md:col-12 flex">
                        <div *ngIf="item.instructorType != true" class="col-6 p-0 pr-2">
                            <label class="font-bold"
                                ><a style="color: red">*</a>
                                {{
                                    'courseManagement.tabRoundGeneral.tabInstructor.form.instructorName' | translate
                                }}</label
                            >
                            <p-dropdown
                                [options]="personalList"
                                [(ngModel)]="item.instructorId"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                (onClick)="lazyLoadPersonal()"
                                (onFilter)="lazyLoadPersonal($event)"
                                (onChange)="changePersonal()"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                            <small
                                *ngIf="showError && !!!item.instructorId && item.instructorType != true"
                                class="p-error"
                                id="text-error"
                                >{{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                        <!-- <div *ngIf="item.instructorType === true" class="col-6 p-0 pr-2">
                            <p-dropdown
                                [disabled]="true"
                                [options]="personalList"
                                [(ngModel)]="item.instructorId"
                                optionLabel="nameTh"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                (onFilter)="lazyLoadPersonal($event)"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                        </div> -->
                    </div>

                    <div class="col-12 md:col-12" *ngIf="!item.instructorMain" >
                        <div class="flex align-items-center gap-2">
                            <p-checkbox
                                [(ngModel)]="item.instructorType"
                                [binary]="true"
                                inputId="instructorType"
                                (onChange)="onChangeInstructorType($event)"
                            ></p-checkbox>
                            <label class="font-bold">{{
                                'courseManagement.tabRoundGeneral.tabInstructor.form.externalPerson' | translate
                            }}</label>
                        </div>
                    </div>

                    <div *ngIf="item.instructorType" class="col-12 md:col-12">
                        <div class="col-12 md:col-12">
                            <label class="font-bold"
                                ><a style="color: red">*</a
                                >{{
                                    'courseManagement.tabRoundGeneral.tabInstructor.form.externalNameTh' | translate
                                }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.externalNameTh" />
                        </div>
                        <small
                            *ngIf="showError && !!!item.externalNameTh && item.instructorType === true"
                            class="p-error"
                            id="text-error"
                            >{{ 'common.pleaseEnter' | translate }}
                        </small>

                        <div class="col-12 md:col-12">
                            <label class="font-bold"
                                ><a style="color: red">*</a
                                >{{
                                    'courseManagement.tabRoundGeneral.tabInstructor.form.externalNameEn' | translate
                                }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.externalNameEn" />
                        </div>
                        <small
                            *ngIf="showError && !!!item.externalNameEn && item.instructorType === true"
                            class="p-error"
                            id="text-error"
                            >{{ 'common.pleaseEnter' | translate }}
                        </small>

                        <div class="col-12 md:col-12">
                            <label class="font-bold"
                                ><a style="color: red">*</a
                                >{{ 'courseManagement.tabRoundGeneral.tabInstructor.table.email' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.externalEmail" />
                        </div>
                        <small
                            *ngIf="showError && !!!item.externalEmail && item.instructorType === true"
                            class="p-error"
                            id="text-error"
                            >{{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>

                    <div class="col-12 md:col-12">
                        <div class="flex justify-content-center mb-4">
                            <img
                                [src]="userImg"
                                alt="user"
                                height="240"
                                width="240"
                                style="
                                    size: 50%;
                                    border-radius: 50%;
                                    box-shadow: inset;
                                    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
                                "
                            />
                        </div>
                        <div class="flex justify-content-center">
                            <p-fileUpload
                                #fileUpload
                                (uploadHandler)="onAdvancedUpload($event)"
                                (onRemove)="onRemoveUpload($event, fileUpload)"
                                mode="basic"
                                [chooseLabel]="'newsManagement.uploadPic' | translate"
                                name="file"
                                accept="image/*"
                                [auto]="true"
                                [maxFileSize]="2000000000"
                                [multiple]="false"
                                [customUpload]="true"
                                [fileLimit]="1"
                            >
                            </p-fileUpload>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="flex justify-content-center align-items-center flex-wrap gap-2">
            <div class="flex align-items-center justify-content-center">
                <p-button
                    [label]="'common.button.save' | translate"
                    icon="pi pi-save"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                    [disabled]="processing"
                    (onClick)="onSave()"
                ></p-button>
            </div>
            <div class="flex align-items-center justify-content-center">
                <p-button
                    [label]="'common.button.cancel' | translate"
                    icon="pi pi-times-circle"
                    styleClass="p-button-secondary p-button-sm"
                    size="small"
                    (onClick)="onBack()"
                ></p-button>
            </div>
        </div>
    </div>
</div>
