<p-toast (onClose)="onClose($event)"></p-toast>
<p-panel *ngIf="item && initForm">
    <ng-template pTemplate="header">
        <p-breadcrumb
            class="max-w-full w-full"
            [model]="[user, member,
            { label: ((mode === 'CREATE' ?
                'common.mode.add' : 'common.mode.edit') | translate)
                + ('userManagement.member.form.name' | translate)
            }]"
            [home]="{ icon: 'pi pi-home', routerLink: '/' }"
        ></p-breadcrumb>
    </ng-template>

    <div>
        <div class="p-fluid mt-4 mx-4">
            <header class="d-flex justify-content-md-between">
                <div class="flex justify-content-between">
                    <div class="">
                        <h3 style="color: var(--font-color-header)">
                            {{ ((mode === 'CREATE' ?
                            'common.mode.add' : 'common.mode.edit') | translate)
                            + ('userManagement.member.form.name' | translate) }}
                        </h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid var(--font-color-header)" class="mt-0" />
            </header>
            <header class="d-flex justify-content-md-between my-4">
                <div class="flex justify-content-between">
                    <div class="">
                        <h3 style="color: black">{{ 'userManagement.member.form.information' | translate }}</h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid" class="mt-0" />
            </header>
        </div>
        <div class="mt-4 mx-5">
            <div class="container">
                <div class="col-12 md:col-12">
                    <div class="flex justify-content-center mb-4">
                        <img [src]="userImg" alt="user"
                            height="240"
                            width="240"
                            style="size: 50%;
                                border-radius: 50%;
                                box-shadow: inset;
                                box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);"
                        >
                    </div>
                    <div class="flex justify-content-center">
                        <p-fileUpload
                            #fileUpload
                            (uploadHandler)="onAdvancedUpload($event)"
                            (onRemove)="onRemoveUpload($event, fileUpload)"
                            mode="basic"
                            chooseLabel="อัปโหลดรูปภาพ"
                            name="file"
                            accept="image/*"
                            [auto]="true"
                            [maxFileSize]="2000000000"
                            [multiple]="false"
                            [customUpload]="true"
                            [fileLimit]="1"
                        >
                        </p-fileUpload>
                    </div>
                    <span
                        class="flex justify-content-center pt-2"
                        style="opacity: 50%; font-size: small;"
                    >
                        *ขนาดภาพที่แนะนำ 240x240
                    </span>
                </div>

                <div class="formgrid grid ml-1">
                    <div class="p-fluid formgrid col-12">
                        <div class="grid">
                            <div class="field mb-0 lg:col-6 md:col-12 sm:col">
                                <label style="height: 25px"
                                    ><a style="color: red">*</a>{{ 'userManagement.member.form.email' | translate }}</label
                                >
                                <input pInputText type="text" [(ngModel)]="item.memberEmail" />
                                <small>{{ 'userManagement.member.form.news' | translate }}</small>
                            </div>

                            <div class="field mb-0 lg:col-6 md:col-12 sm:col">
                                <label style="height: 25px">{{
                                    'userManagement.member.form.accountFormat' | translate
                                }}</label>
                                <p-dropdown
                                    [disabled]="true"
                                    [options]="memberChannelList"
                                    [(ngModel)]="item.memberChannel"
                                    [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                    optionValue="value"
                                    [showClear]="true"
                                    [placeholder]="'common.pleaseSelect' | translate"
                                ></p-dropdown>
                            </div>
                        </div>

                    </div>

                    <div class="p-fluid formgrid grid col-12 pt-2 pb-2">
                        <div class="field col-12 mb-0 flex gap-2 align-items-center">
                            <div>
                                <label style="height: 25px"
                                    >{{ 'userManagement.member.form.country' | translate }} :</label
                                >
                            </div>

                            <div class="flex gap-3">
                                <div *ngFor="let items of memberCountryTypeList" class="flex align-items-center">
                                    <p-radioButton
                                        name="memberCountryType"
                                        [value]="items.value"
                                        [(ngModel)]="item.memberCountryType"
                                        inputId="ingredient1"
                                        (click)="changeMemberCountryType(item.memberCountryType)"
                                    ></p-radioButton>
                                    <label for="ingredient1" class="ml-2 justify-content-center">
                                        {{ lang === 'th' ? items.nameTh : items.nameEn }}</label
                                    >
                                </div>
                            </div>
                            <div class="col p-0">
                                <p-dropdown
                                    [options]="countryList"
                                    [(ngModel)]="item.countryId"
                                    [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                    optionValue="value"
                                    [showClear]="true"
                                    [filter]="true"
                                    (onFilter)="lazyLoadCountry($event)"
                                    [placeholder]="'common.pleaseSelect' | translate"
                                ></p-dropdown>
                            </div>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a>{{ 'userManagement.member.form.idCard' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.memberCardno" />
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px">{{
                                'userManagement.member.form.memberCode' | translate
                            }}</label>
                            <input [disabled]="true" pInputText type="text" [(ngModel)]="item.memberId" />
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12 pt-2 pb-2">
                        <div class="field col-12 mb-0">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.prefixName' | translate }}</label
                            >
                            <p-dropdown
                                [options]="prefixnameList"
                                [(ngModel)]="item.prefixnameId"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                (onFilter)="lazyLoadPrefixname($event)"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.firstnameTh' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.memberFirstnameTh" />
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.lastnameTh' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.memberLastnameTh" />
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.firstnameEn' | translate }}</label
                            >
                            <input [disabled]="item" pInputText type="text" [(ngModel)]="item.memberFirstnameEn" />
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.lastnameEn' | translate }}</label
                            >
                            <input [disabled]="item" pInputText type="text" [(ngModel)]="item.memberLastnameEn" />
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12 pt-2 pb-2">
                        <div class="field col-12 mb-0 flex gap-2">
                            <div>
                                <label style="height: 25px"
                                    >{{ 'userManagement.member.form.gender' | translate }} :</label
                                >
                            </div>
                            <div class="flex gap-3">
                                <div *ngFor="let items of genderList" class="flex align-items-center">
                                    <p-radioButton
                                        name="memberGender"
                                        [value]="items.value"
                                        [(ngModel)]="item.memberGender"
                                        inputId="ingredient1"
                                    ></p-radioButton>
                                    <label for="ingredient1" class="ml-2 justify-content-center">
                                        {{ lang === 'th' ? items.nameTh : items.nameEn }}</label
                                    >
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.birthdate' | translate }}</label
                            >
                            <p-calendar
                                inputId="memberBirthdate"
                                [(ngModel)]="item.memberBirthdate"
                                [showIcon]="true"
                                [hideOnDateTimeSelect]="true"
                                [lang]="lang"
                                appThaiCalendar
                            ></p-calendar>
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a>{{ 'userManagement.member.form.tel' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.memberPhoneno" />
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12 pt-2 pb-2">
                        <div class="field col-12 mb-0">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.address' | translate }}</label
                            >
                            <textarea
                                rows="2"
                                cols="30"
                                pInputTextarea
                                [(ngModel)]="item.memberAdderss.addressDetail"
                                style="resize: vertical; min-height: 80px; max-height: 200px"
                            ></textarea>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.province' | translate }}</label
                            >
                            <p-dropdown
                                [options]="provinceList"
                                [(ngModel)]="item.memberAdderss.addressProvince"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                (onFilter)="lazyLoadProvince($event)"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.district' | translate }}</label
                            >
                            <p-dropdown
                                [options]="amphurList"
                                [(ngModel)]="item.memberAdderss.addressAmphur"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                [disabled]="!item.memberAdderss.addressProvince"
                                (onFilter)="lazyLoadAmphur($event)"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                        </div>
                    </div>

                    <div class="p-fluid formgrid grid col-12">
                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.subDistrict' | translate }}</label
                            >
                            <p-dropdown
                                [options]="tambonList"
                                [(ngModel)]="item.memberAdderss.addressTambon"
                                [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                                optionValue="value"
                                [showClear]="true"
                                [filter]="true"
                                [disabled]="!(item.memberAdderss.addressProvince && item.memberAdderss.addressAmphur)"
                                (onFilter)="lazyLoadTambon($event)"
                                (onChange)="changeTambon($event)"
                                [placeholder]="'common.pleaseSelect' | translate"
                            ></p-dropdown>
                        </div>

                        <div class="field mb-0 lg:col-6 sm:col-12">
                            <label style="height: 25px"
                                ><a style="color: red">*</a
                                >{{ 'userManagement.member.form.zipcode' | translate }}</label
                            >
                            <input pInputText type="text" [(ngModel)]="item.memberAdderss.addressZipcode" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-fluid mt-4 mx-4">
            <header class="d-flex justify-content-md-between my-4">
                <div class="flex justify-content-between">
                    <div class="">
                        <h3 style="color: black">{{ 'userManagement.member.form.status' | translate }}</h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid" class="mt-0" />
            </header>
        </div>

        <div class="mt-4 mx-5">
            <div class="ml-2">
                <div class="p-fluid formgrid grid col-12">
                    <div class="field mb-0 lg:col-6 sm:col-12">
                        <label style="height: 25px"
                            ><a style="color: red">*</a>{{ 'userManagement.member.form.highest' | translate }}</label
                        >
                        <p-dropdown
                            [options]="highestEducationalList"
                            [(ngModel)]="item.maxEducation"
                            [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                            optionValue="value"
                            [showClear]="true"
                            [filter]="true"
                            [placeholder]="'common.pleaseSelect' | translate"
                        ></p-dropdown>
                    </div>

                    <div class="field mb-0 lg:col-6 sm:col-12">
                        <label style="height: 25px"
                            ><a style="color: red">*</a>{{ 'userManagement.member.form.jobStatus' | translate }}</label
                        >
                        <p-dropdown
                            [options]="currentJobList"
                            [(ngModel)]="item.currentJob"
                            [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                            optionValue="value"
                            [showClear]="true"
                            [filter]="true"
                            [placeholder]="'common.pleaseSelect' | translate"
                        ></p-dropdown>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-fluid mt-4 mx-4">
            <header class="d-flex justify-content-md-between my-4">
                <div class="flex justify-content-between">
                    <div class="">
                        <h3 style="color: black">{{ 'userManagement.user.form.status' | translate }}</h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid" class="mt-0" />
            </header>
        </div>
        <div class="mt-4 mx-5">
            <div class="p-fluid formgrid grid col-12 pt-2 pl-3 gap-4 pb-0 align-items-center">
                <div class="mb-0 ml-2">
                    <p-inputSwitch [(ngModel)]="item.activeFlag"></p-inputSwitch>
                </div>
                <div class="">
                    <label style="height: 25px">{{
                        item ? ('common.status.active' | translate) : ('common.status.inActive' | translate)
                    }}</label>
                </div>
            </div>

            <div class="p-fluid formgrid grid col-12"></div>
            <div class="flex justify-content-center gap-2 mt-4">
                <div class="">
                    <p-button
                        [label]="'common.button.save' | translate"
                        icon="pi pi-save"
                        styleClass="p-button-primary p-button-sm"
                        size="small"
                        [disabled]="processing"
                        (click)="onSave()"
                    >
                    </p-button>
                </div>
                <div class="">
                    <p-button
                        [label]="'common.button.cancel' | translate"
                        icon="pi pi-times-circle"
                        styleClass="p-button-secondary p-button-sm"
                        size="small"
                        (click)="onBack()"
                    >
                    </p-button>
                </div>
            </div>
        </div>
    </div>
</p-panel>
