<div class="card" *ngIf="mode === 'CREATE'">
    <div class="p-fluid mt-4">
        <header class="d-flex justify-content-md-between">
            <h3 style="color: var(--font-color-header)">
                {{ 'courseManagement.tabGeneral.tabCourseMatching.form.name' | translate }}
            </h3>
            <hr style="border-top: 1px solid var(--font-color-header)" />
        </header>
    </div>

    <div class="mt-4">
        <p-accordion [activeIndex]="0">
            <p-accordionTab [header]="'common.searchData' | translate">
                <div class="container">
                    <div class="formgrid grid ml-1">
                        <div class="p-fluid formgrid grid col-12">
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label class="font-bold" style="height: 25px">{{
                                    'courseManagement.tabGeneral.tabCourseMatching.form.search.courseCode' | translate
                                }}</label>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="criteria.curriculumSwuId"
                                    (keyup.enter)="fetchData()"
                                />
                            </div>
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label class="font-bold" style="height: 25px">{{
                                    'courseManagement.tabGeneral.tabCourseMatching.form.search.courseName' | translate
                                }}</label>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="criteria.curriculumNameTh"
                                    (keyup.enter)="fetchData()"
                                />
                            </div>
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label class="font-bold" style="height: 25px">{{
                                    'courseManagement.tabGeneral.tabCourseMatching.form.search.subjectCode' | translate
                                }}</label>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="criteria.subjectCodeTh"
                                    (keyup.enter)="fetchData()"
                                />
                            </div>
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label class="font-bold" style="height: 25px">{{
                                    'courseManagement.tabGeneral.tabCourseMatching.form.search.subjectName' | translate
                                }}</label>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="criteria.subjectNameTh"
                                    (keyup.enter)="fetchData()"
                                />
                            </div>
                        </div>

                        <div class="p-fluid formgrid grid col-12">
                            <div class="field col-12 sm:col-12 md:col-6 lg:col-3">
                                <label class="font-bold" style="height: 25px">{{
                                    'courseManagement.tabGeneral.tabCourseMatching.form.search.ownerCurriculum' | translate
                                }}</label>
                                <input
                                    pInputText
                                    type="text"
                                    [(ngModel)]="criteria.ownerDepNameTh"
                                    (keyup.enter)="fetchData()"
                                />
                            </div>

                        </div>

                    </div>

                    <div class="flex justify-content-center gap-2 mt-4">
                        <div>
                            <p-button
                                [label]="'common.button.search' | translate"
                                icon="pi pi-search"
                                styleClass="p-button-primary p-button-sm"
                                size="small"
                                (click)="fetchData()"
                            >
                            </p-button>
                        </div>
                        <div>
                            <p-button
                                [label]="'common.button.clear' | translate"
                                icon="pi pi-refresh"
                                styleClass="p-button-secondary p-button-sm"
                                size="small"
                                (click)="onClear()"
                            >
                            </p-button>
                        </div>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div class="card flex align-items-center gap-2 flex-wrap">
        <span *ngFor="let select of selectDatas">
            <p-chip [label]="lang === 'th' ? select.subjectCodeTh : select.subjectCodeEn"></p-chip>
        </span>
    </div>

    <div class="flex-wrap m-4">
        <p-table
            [(rows)]="rows"
            [(selection)]="selectDatas"
            [value]="datas"
            dataKey="code"
            [totalRecords]="totalRecords"
            [paginator]="true"
            [rowHover]="true"
            [lazy]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [paginator]="true"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
            (onPage)="fetchData($event)"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]="'common.table.pageMessage' | translate"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th scope="col" style="width: 5%" class="text-center">&nbsp;</th>
                    <th scope="col" class="text-center" style="width: 5%">
                        {{ 'common.table.column.no' | translate }}
                    </th>
                    <th scope="col" style="width: 10%" class="text-center">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.subjectCode' | translate }}
                    </th>
                    <th scope="col" style="width: 20%">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.subjectName' | translate }}
                    </th>
                    <th scope="col" style="width: 10%" class="text-left">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.courseCode' | translate }}
                    </th>
                    <th scope="col" style="width: 20%" class="text-left">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.courseName' | translate }}
                    </th>
                    <th scope="col" style="width: 15%" class="text-center">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.ownerCurriculum' | translate }}
                    </th>
                    <th scope="col" class="text-center" style="width: 10%">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.credit' | translate }}
                    </th>
                    <th scope="col" class="text-center" style="width: 5%">
                        {{ 'courseManagement.tabGeneral.tabCourseMatching.form.table.detail' | translate }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td class="text-center">{{ item.rowNum }}</td>
                    <td class="text-center">
                        <span class="flex">{{ item.subjectCodeEn }}-{{ item.subjectSet }}</span>
                        <span class="flex">{{ item.subjectCodeTh }}-{{ item.subjectSet }}</span>
                    </td>
                    <td>{{ lang === 'th' ? item.subjectNameTh : item.subjectNameEn }}</td>
                    <td class="text-center">{{ item.curriculumSwuId }}</td>
                    <td>{{ lang === 'th' ? item.curriculumNameTh : item.curriculumNameEn }}</td>
                    <td>{{ lang === 'th' ? item.ownerDepNameTh : item.ownerDepNameEn }}</td>

                    <td class="text-center">
                        {{ item.subjectCredit }}
                    </td>
                    <td class="text-center">
                        <span
                            (click)="showDetail(item.subjectSwuId, item.curriculumSwuId)"
                            class="pi pi-search cursor-pointer"
                        >
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="text-center">{{ 'common.dataNotFound' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        <div class="flex justify-content-center gap-2 mt-4">
            <div>
                <p-button
                    [label]="'เลือกรายวิชา'"
                    icon="pi pi-check"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                    [disabled]="processing"
                    (click)="onSave($event)"
                >
                </p-button>
            </div>
            <div>
                <p-button
                    [label]="'common.button.cancel' | translate"
                    icon="pi pi-refresh"
                    styleClass="p-button-secondary p-button-sm"
                    size="small"
                    (click)="onBack()"
                >
                </p-button>
            </div>
        </div>
        <br /><br />
    </div>

    <!-- Show Dialog  -->

    <div class="flex justify-content-center">
        <p-dialog [(visible)]="visible" [style]="{ width: '50vw' }">
            <!-- header = "{{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.subjectDetail' | translate }}" -->
            <p-header [ngStyle]="{ color: 'var(--font-color-header)' }">
                {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.subjectDetail' | translate }}
            </p-header>
            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.subjectCode' | translate }}
                </div>
                <div class="col-8">
                    {{ lang === 'th' ? detailSubject[0]?.subjectCodeTh : detailSubject[0]?.subjectCodeEn }}-{{
                        detailSubject[0]?.subjectSet
                    }}
                </div>
            </div>

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.subjectNameTh' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.subjectNameTh }}
                </div>
            </div>

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.subjectNameEn' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.curriculumNameEn }}
                </div>
            </div>

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.courseCode' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.curriculumSwuId }}
                </div>
            </div>

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.courseNameTh' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.curriculumNameTh }}
                </div>
            </div>

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.courseNameEn' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.subjectNameEn }}
                </div>
            </div>
            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.ownerCurriculum' | translate }}
                </div>
                <div class="col-8">
                    {{ lang === 'th' ? detailSubject[0]?.ownerDepNameTh : detailSubject[0]?.ownerDepNameEn }}
                </div>
            </div>
            <hr />

            <div class="col-12 flex p-0">
                <div class="col-4 font-bold">
                    {{ 'courseManagement.tabGeneral.tabCourseMatching.form.showDetail.credit' | translate }}
                </div>
                <div class="col-8">
                    {{ detailSubject[0]?.subjectCredit }}
                </div>
            </div>

            <hr />
        </p-dialog>
    </div>
</div>
