<p-toast (onClose)="onClose($event)"></p-toast>
<p-panel *ngIf="initForm">
    <ng-template pTemplate="header">
        <p-breadcrumb
            class="max-w-full w-full"
            [model]="[{ label: 'common.module.master' | translate, routerLink: '/master/bank-account' }, { label: 'master.bankAccount.name' | translate, routerLink: '/master/bank-account' }]"
            [home]="{ icon: 'pi pi-home', routerLink: '/' }"
        >
        </p-breadcrumb>
    </ng-template>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h3 style="color: red">{{ 'master.bankAccount.form.name' | translate }}</h3>
            <hr style="border-top: 1px solid red" />
            <h5>{{ 'master.bankAccount.form.detailSection' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
    </div>

    <div class="m-4">
        <div class="p-fluid p-formgrid grid">
            <div class="col col-12">
                <div class="grid p-fluid">
                    <div class="col-12 md:col-12">
                        <label><a style="color: red">*</a>{{ 'master.bankAccount.form.bank' | translate }}</label>
                        <p-dropdown
                            [options]="bankList"
                            [(ngModel)]="item.bankId"
                            [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                            optionValue="value"
                            [showClear]="true"
                            [filter]="true"
                            (onFilter)="lazyLoadBank($event)"
                            (onChange)="lazyLoadBankBranch(null)"
                            [placeholder]="'common.pleaseSelect' | translate"
                            [class]="showError == true && !!!item.bankId ? 'ng-invalid ng-dirty' : ''"
                        ></p-dropdown>
                        <small *ngIf="showError && !!!item.bankId" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>

                    <div class="col-12 md:col-12">
                        <label><a style="color: red">*</a>{{ 'master.bankAccount.form.branch' | translate }}</label>
                        <p-dropdown
                            [disabled]="!!!item.bankId"
                            [options]="bankBranchList"
                            [(ngModel)]="item.bankBranchId"
                            [optionLabel]="lang === 'th' ? 'nameTh' : 'nameEn'"
                            optionValue="value"
                            [showClear]="true"
                            [filter]="true"
                            [placeholder]="'common.pleaseSelect' | translate"
                            (onFilter)="lazyLoadBankBranch($event)"
                            [class]="showError == true && !!!item.bankBranchId ? 'ng-invalid ng-dirty' : ''"
                        ></p-dropdown>
                        <small *ngIf="showError && !!!item.bankBranchId" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>
                    <div class="col-12 md:col-12">
                        <label><a style="color: red">*</a>{{ 'master.bankAccount.form.accountNo' | translate }}</label>
                        <input
                            pInputText
                            id="accountNo"
                            type="text"
                            [(ngModel)]="item.accountNo"
                            [class]="showError == true && !!!item.accountNo ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!item.accountNo" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>

                    <div class="col-12 md:col-12">
                        <label
                            ><a style="color: red">*</a>{{ 'master.bankAccount.form.accountNameTh' | translate }}</label
                        >
                        <input
                            pInputText
                            id="accountNameTh"
                            type="text"
                            [(ngModel)]="item.accountNameTh"
                            [class]="showError == true && !!!item.accountNameTh ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!item.accountNameTh" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>

                    <div class="col-12 md:col-12">
                        <label
                            ><a style="color: red">*</a>{{ 'master.bankAccount.form.accountNameEn' | translate }}</label
                        >
                        <input
                            pInputText
                            id="accountNameEn"
                            type="text"
                            [(ngModel)]="item.accountNameEn"
                            [class]="showError == true && !!!item.accountNameEn ? 'ng-invalid ng-dirty' : ''"
                        />
                        <small *ngIf="showError && !!!item.accountNameEn" class="p-error" id="text-error">
                            {{ 'common.pleaseEnter' | translate }}
                        </small>
                    </div>

                    <div class="col-12 md:col-12 flex">
                        <div class="col-6 p-0 pr-2">
                            <label><a style="color: red">*</a>{{ 'master.bankAccount.form.bankId' | translate }}</label>
                            <input
                                pInputText
                                id="bankBranchNameEn"
                                type="text"
                                [(ngModel)]="item.billerId"
                                [class]="showError == true && !!!item.billerId ? 'ng-invalid ng-dirty' : ''"
                            />
                            <small *ngIf="showError && !!!item.billerId" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                        <div class="col-6 p-0 pl-2">
                            <label
                                ><a style="color: red">*</a>{{ 'master.bankAccount.form.companyId' | translate }}</label
                            >

                            <input
                                pInputText
                                id="companyId"
                                type="text"
                                [(ngModel)]="item.companyId"
                                [class]="showError == true && !!!item.companyId ? 'ng-invalid ng-dirty' : ''"
                            />
                            <small *ngIf="showError && !!!item.companyId" class="p-error" id="text-error">
                                {{ 'common.pleaseEnter' | translate }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h5>{{ 'master.bankAccount.form.bankAccountNote' | translate }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
        <div class="col-12 md:col-12 pt-0 pr-0 pl-0">
            <label>{{ 'master.bankAccount.form.bankAccountNote' | translate }}</label>

            <textarea rows="5" cols="20" pInputTextarea [(ngModel)]="item.bankAccountNote" [autoResize]="true">
            </textarea>
        </div>
    </div>

    <div class="p-fluid m-4">
        <header class="d-flex justify-content-md-between">
            <h5>{{ lang === 'th' ? 'สถานะ' : 'Access' }}</h5>
            <p-divider type="solid"></p-divider>
        </header>
        <div class="col-12 flex gap-2">
            <p-inputSwitch [(ngModel)]="item.activeFlag"> </p-inputSwitch>
            <label class="ml-2">{{
                item.activeFlag ? ('common.status.active' | translate) : ('common.status.inActive' | translate)
            }}</label>
        </div>
    </div>
    <div class="col-12">
        <div class="flex justify-content-center align-items-center flex-wrap gap-2">
            <div class="flex align-items-center justify-content-center">
                <!-- karn -->
                <p-button
                    permission
                    menuCode="SDB-MS10003"
                    [label]="'common.button.save' | translate"
                    icon="pi pi-save"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                    [disabled]="processing"
                    (onClick)="onSave()"
                ></p-button>
            </div>
            <!-- <div class="flex align-items-center justify-content-center">
                <p-button
                    [label]="'common.button.cancel' | translate"
                    icon="pi pi-times-circle"
                    styleClass="p-button-secondary p-button-sm"
                    size="small"
                    (onClick)="onBack()"
                ></p-button>
            </div> -->
        </div>
    </div>
</p-panel>
