<div class="card" *ngIf="coursepublicMain">
    <div class="p-fluid m-0 mb-4">
        <h2>
            {{ coursepublicMain.courseCode }}&nbsp;-&nbsp;{{
                lang === 'th' ? coursepublicMain.publicNameTh : coursepublicMain.publicNameEn
            }}
        </h2>
    </div>

    <header class=" ">
        <h5 class="text-primary">{{ 'courseManagement.roundApproval.registrationFee.name' | translate }}</h5>
        <p-divider type="solid"></p-divider>
    </header>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.registrationFee.feeStatus' | translate }}
        </div>
        <div class="col-9" *ngFor="let item of lookupRegistrationCostList">
            {{ lang === 'th' ? item.nameTh : item.nameEn }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.registrationFee.feeAmount' | translate }}
        </div>
        <div class="col-9">
            {{ coursepublicMain.feeAmount | number:".2" }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.registrationFee.promotionAmount' | translate }}
        </div>
        <div class="col-9">
            {{ coursepublicMain.promotionAmount | number:".2" }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.registrationFee.promotionStart' | translate }}
        </div>
        <div class="col-9">
            {{ coursepublicMain.promotionStart | formatdate : lang }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.registrationFee.promotionEnd' | translate }}
        </div>
        <div class="col-9">
            {{ coursepublicMain.promotionEnd | formatdate : lang }}
        </div>
    </div>

    <header class="mt-5">
        <h5 class="text-primary">{{ 'courseManagement.roundApproval.shareRegistrationFee.name' | translate }}</h5>
        <p-divider type="solid"></p-divider>
    </header>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.shareRegistrationFee.faculty' | translate }}
        </div>
        <div class="col-9" *ngFor="let item of lookupDepartmentLevel1List">
            {{ lang === 'th' ? item.nameTh : item.nameEn }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.shareRegistrationFee.department' | translate }}
        </div>
        <div class="col-9" *ngFor="let item of lookupDepartmentLevel2List">
            {{ lang === 'th' ? item.nameTh : item.nameEn }}
        </div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.shareRegistrationFee.shareDep' | translate }}
        </div>
        <div class="col-9">{{ coursepublicMain.costShareDepPercent }}%</div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.shareRegistrationFee.shareGlobal' | translate }}
        </div>
        <div class="col-9">{{ coursepublicMain.costShareGlobalPercent }}%</div>
    </div>
    <div class="col-12 flex pb-0 pt-0">
        <div class="col-3 font-bold">
            {{ 'courseManagement.roundApproval.shareRegistrationFee.shareCenter' | translate }}
        </div>
        <div class="col-9">{{ coursepublicMain.costShareCenterPercent }}%</div>
    </div>
</div>
