<p-card>
    <div class="grid">
        <div class="col-3 flex align-items-center justify-content-center" *ngIf="imgFlag">
            <img
                [src]="imgUrl"
                alt="img-course"
                style="width: 350px; height: 250px; border-radius: 5%; object-fit: cover"
            />
        </div>

        <div [class.col-9]="imgFlag" [class.col-12]="!imgFlag">
            <div class="">
                <div class="flex px-2 justify-content-between">
                    <div class="col">
                        <h3 [style]="">{{ title }}</h3>
                    </div>
                    <div class="col col-3 flex justify-content-end">
                        <h3
                            (click)="clickCallBack(titleStatus.callBackData)"
                            class="cursor-pointer"
                            [style]="{ color: titleStatusColor }"
                        >
                            {{ titleStatus.text }}
                        </h3>
                    </div>
                </div>
                <hr style="border-top: 1px solid var(--font-color-header)" />
            </div>
            <div class="grid pl-4">
                <div class="col-12">
                    <label>{{ detail }}</label>
                </div>
                <div *ngFor="let chipObj of chipList" class="mr-2">
                    <p-chip pStyleClass="my-chip" [label]="chipObj.text" [icon]="chipObj.icon" ></p-chip>
                </div>
            </div>
            <div class="grid col-12 pl-4 mt-4"><button pButton
                permission
                menuCode="SDB-TC100401"
                [label]="'teacherPortal.loginMoodle' | translate"
                styleClass="p-button p-button-warning p-button-sm"
                size="small"
                (click)="gotoMoodle()"
            >
            </button></div>
            <div class="grid col-12 mt-8">
                <div *ngFor="let menuObj of filterDisplay(menuList)" style="margin-left: 2%" permission [menuCode]="menuObj.menuCode" >
                    <a  *ngIf="menuObj.display" (click)="clickCallBack(menuObj.callBackData)"
                        ><i [class]="menuObj.icon"
                            ><label class="ml-2 cursor-pointer">{{ menuObj.text }}</label></i
                        ></a
                    >
                    <span *ngIf="menuObj.display" class="vl" style="margin-left: 10%;"></span>
                </div>
            </div>
        </div>
    </div>
</p-card>
