<p-toast (onClose)="onClose($event)"></p-toast>
<div class="card" *ngIf="coursepublicMain">
    <div class="p-fluid m-0 mb-4" style="opacity: 0.5">
        <h4>
            [{{ coursepublicMain.courseCode }}]&nbsp;-&nbsp;{{
                lang === 'th' ? coursepublicMain.publicNameTh : coursepublicMain.publicNameEn
            }}
        </h4>
    </div>

    <div>
        <h5 class="text-primary">{{ 'courseManagement.tabRoundGeneral.tabAccompanyingVideo.name' | translate }}</h5>
        <hr />
        <div class="col-12 flex">
            <div class="col-6 pl-0">
                <label class="font-bold"><a style="color: red">*</a>{{ 'courseManagement.tabRoundGeneral.tabAccompanyingVideo.videoNameTh' | translate }}</label>
                <input
                    pInputText
                    type="text"
                    [(ngModel)]="coursepublicMedia.mediaNameTh"
                    [class]="showError == true && !!!coursepublicMedia.mediaNameTh ? 'ng-invalid ng-dirty' : ''"
                />
                <small *ngIf="showError && !!!coursepublicMedia.mediaNameTh" class="p-error" id="text-error">
                    {{ 'common.pleaseEnter' | translate }}
                </small>
            </div>
            <div class="col-6 pr-0">
                <label class="font-bold"><a style="color: red">*</a>{{ 'courseManagement.tabRoundGeneral.tabAccompanyingVideo.videoNameEn' | translate }}</label>
                <input
                    pInputText
                    type="text"
                    [(ngModel)]="coursepublicMedia.mediaNameEn"
                    [class]="showError == true && !!!coursepublicMedia.mediaNameEn ? 'ng-invalid ng-dirty' : ''"
                />
                <small *ngIf="showError && !!!coursepublicMedia.mediaNameEn" class="p-error" id="text-error">
                    {{ 'common.pleaseEnter' | translate }}
                </small>
            </div>
        </div>
        <div class="col-12">
            <label for="" class="col-12 font-bold"><a style="color: red">*</a>{{
                'courseManagement.tabRoundGeneral.tabAccompanyingVideo.fileVideo' | translate
            }}</label>
            <span  *ngIf="coursepublicMedia.filename && !showUpload" class="pi pi-pencil cursor-pointer" (click)="onEditVideo()"></span>
            <p-fileUpload
                *ngIf="showUpload"
                #fileUpload
                (uploadHandler)="onAdvancedUpload($event)"
                (onRemove)="onRemoveUpload($event, fileUpload)"
                chooseLabel="อัปโหลดวิดีโอ"
                name="file"
                accept=".avi, .mp4, .m4v, .mov, .mpg, .mpeg, .wmv"
                [auto]="true"
                [maxFileSize]="60000000"
                [multiple]="false"
                [customUpload]="true"
                [fileLimit]="1"
                [class]="showError == true && !!!coursepublicMedia.filename ? 'ng-invalid ng-dirty' : ''"
            >
            </p-fileUpload>


            <div style="opacity: 60%;">{{
                '.avi, .mp4, .m4v, .mov, .mpg, .mpeg, .wmv' | translate
            }}</div>

            <small *ngIf="showError && !!!coursepublicMedia.filename" class="p-error" id="text-error">
                {{ 'common.pleaseEnter' | translate }}
            </small>

            <vg-player *ngIf="!showUpload">
                <video [vgMedia]="$any(media)" #media id="singleVideo" preload="metadata" controls >
                    <source
                        [src]="videoUrl"
                        [type]="videoType"
                    />
                </video>
            </vg-player>
        </div>
    </div>
    <div class="col-12">
        <div class="flex justify-content-center align-items-center flex-wrap gap-2">
            <div class="flex align-items-center justify-content-center">
                <p-button
                    [label]="'common.button.save' | translate"
                    icon="pi pi-save"
                    styleClass="p-button-primary p-button-sm"
                    size="small"
                    [disabled]="processing"
                    (onClick)="onSave()"
                ></p-button>
            </div>
            <div class="flex align-items-center justify-content-center">
                <p-button
                    [label]="'common.button.cancel' | translate"
                    icon="pi pi-times-circle"
                    styleClass="p-button-secondary p-button-sm"
                    size="small"
                    (onClick)="onBack()"
                ></p-button>
            </div>
        </div>
    </div>
</div>
