<!doctype html>
<html xmlns:th="https://thymeleaf.org">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Reset Password Email Template</title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
        }
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
<!--100% body table-->
<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8" style="@import  url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
    <tbody><tr>
        <td>
            <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;text-align: center" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>


                <tr>
                    <td>
                        <h2 style="    margin-left: 20px;
    margin-bottom: 0;
    color: #643f82;text-align: left">MYARAP</h2>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px;background:#fff;border-radius:3px;text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);border-radius: 10px;">
                            <tbody><tr><td style=" background-image: url('https://myarapdev.ar.co.th/images/bvNbSR.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        border-radius: 10px 10px 0 0;"><h2 style="color: white;font-size: 40px;font-weight: 100;">Email Confirmation</h2>
                            </td>
                            </tr>
                            <tr>
                                <td style="padding:0 35px;">

                                    <p style="color:#AAAAAA; font-size:20px;line-height:24px;">
                                        Please confirm that you want to
                                    </p>
                                    <p style=" display: inline;
        color: #AAAAAA;
        font-size: 20px;
        line-height: 24px;">
                                        use this as your</p>
                                    <p style=" display: inline;
        color: #AAAAAA;
        font-size: 20px;
        line-height: 24px;color: #643f82;font-weight: 500">
                                        MYARAP</p>
                                    <p style=" display: inline;
        color: #AAAAAA;
        font-size: 20px;
        line-height: 24px;">account email address.
                                    </p>
                                    <p style="color:#AAAAAA; font-size:20px;line-height:24px; ">
                                        Click verify email address.
                                    </p>
                                    <a th:href="${destination}" style="background:#643f82;text-decoration:none !important; font-weight:600; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 24px;display:inline-block;border-radius:10px;">Verify
                                        email address</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="height:40px;">&nbsp;</td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr><tr>
                    <td style="height:20px;">&nbsp;</td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <p style="font-size:14px; color:rgba(69, 80, 86, 0.7411764705882353); line-height:18px; margin:0 0 0;">
                            Copyright © 2020 ARSoft </p>
                    </td>
                </tr>
                <tr>
                    <td style="height:80px;">&nbsp;</td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>
<!--/100% body table-->
</body>

</html>
